{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": ["airbnb-typescript", "eslint-config-prettier", "eslint-config-standard-with-typescript"],
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "@typescript-eslint/comma-dangle": "off",
        "@typescript-eslint/semi": "off",
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": "off",
        "@typescript-eslint/member-delimiter-style": "off",
        "@typescript-eslint/no-misused-promises": "off",
        "import/no-absolute-path": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    }
  ]
}
